@import '~bootstrap/scss/bootstrap/';

#logo_rodizio {
  img {
    width: 130px;
  }
}
.row {
  background-color: #e4e4e46e;
}

body {
  background: #edf0f1;
}

body,
button {
  font-family: 'Roboto', sans-serif;
}
// .title,
// .description,
// .due-date {
//   width: 100%;
// }
.todoItem{
  list-style: none;
  margin-top: 5px;
}
